<div class="container backlog-empty">
  <div class="row">
    <div class="col-xs-12 backlog-empty--message">
      You don't have any recipe yet!
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 backlog-empty--link">
      {{link-to 'Add a recipe' 'search'}}
    </div>
  </div>
</div>
