<div class="row">
  <div class="col-xs-12">
    <div class="search-result--list">
      {{#each recipes as |recipe|}}
        <div class="search-result--item recipe">
          <img class="search-result--image" src={{{recipe.imageUrl}}} alt={{recipe.title}}>
          <div class="search-result--body">
            <h4 class="search-result--heading">{{recipe.title}}</h4>
            Lorem ipsum dolor sit amet bla bla bla
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
