<div class="container search">
  <div class="row">
    <div class="col-xs-12">
      <form {{action 'search' term on="submit"}} class="search--form">
        {{input value=term placeholder="Search recipes..." class="search--input"}}
      </form>
    </div>
  </div>
  {{outlet}}
</div>
